@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');

:root{

    --fonte1:  Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:"Sriracha", cursive;
    --fonte3: "Passero One", sans-serif;
}



*{
    margin:0;
    padding:0;
  }
  
 html, body{
    background-color:darkgray;
    min-height:100%;
    font-family: var(--fonte1);
    
  }
  
  header{
    background-color:black;
    text-align:center;
  }
  
  header h1{
    color:white;
    padding-top:50px;
    font-variant: small-caps;
    font-family:var(--fonte3)
  }
  
  header p{
    color:white;
    padding-bottom:50px;
  }
  
 header a, footer a{
   color:white;
   text-decoration:none;
   font-weight:bolder;
  }
  
  header a:hover, footer a:hover{
    text-decoration:underline;
  }
  
  section{
    padding-top:10vh;
    padding-bottom:10vh;
    padding-left:30px;
    line-height:2em;
    font-family: var(--fonte2);
  }

  section p{
    padding-bottom: 2em;
  }
  
  section.normal{
    background-color:white;
    color:black;
  }
  
  section.imagem{
    height:250px;
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    box-shadow: inset 6px 6px 13px 0px black;
  }
  
  section.imagem >p{
    background-color: rgba(0, 0, 0, 0.6);
    width:250px;
    padding:10px;
    border-radius:10px;
  }

  section#imag01{
    background-image: url(https://images.unsplash.com/photo-1501785888041-af3ef285b470
    );
  } 
  section#imag02{
    background-image: url(https://images.unsplash.com/photo-1506765515384-028b60a970df
    );
  }
  section#imag03{
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e
    );
  }
  
  footer{
    color:white;
    background-color:black;
    text-align:center;
    padding:10px;
  }